body{
    font-family: "Open Sans", sans-serif;

}

h1{
     line-height:.5;
}

#newtext{
    color:red;
}


a:link{
    color:pink;
    text-decoration:none;
}

a:visited{
    color:blue;
}

a:hover{
    color:gray;
}